<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<br>
<h4>There are currently <%= Product.count %> products in the store.</h4>
<h4>There are <%= Category.count %> different categories in the store.</h4>